*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todo{
    max-width: 300px;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.todo-heading{
    text-align: center;
}
.todo-input{
    padding: 10px 10px;
    word-wrap: break-word;
}
ul {
    list-style: none;
}
.singletodo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:5px;
    cursor: pointer;
    position: relative;
}
.line{
    position: absolute;
    width: 100%;
    height: 1px;
    background: black;
}
.singletodoinput{
width: 100%;
}